@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 100%; 
}

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}


/* Scrolling animation for the services grid */
.marquee-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}


@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.service-card {
  flex-shrink: 0;
}

.marquee-content {
  display: grid;
  grid-auto-flow: column; 
  gap: 4rem;
  /* animation: marquee 50s linear infinite;  */
  animation: scroll 30s linear infinite;
}

